{% set bos_token = '<s>' %}
{% set eos_token = '</s>' %}

{%- if messages[0]['role'] == 'system' -%}
    {% set loop_messages = messages[1:] %}
    {% set system_message = '<|im_start|>system\n' + messages[0]['content'].strip() + '\n<|im_end|>\n' %}
{% else %}
    {% set loop_messages = messages %}
    {% set system_message = '' %}
{%- endif -%}

{%- for message in loop_messages -%}
    {%- if (message['role'] == 'user') != (loop.index0 % 2 == 0) -%}
        {{ raise_exception('Conversation roles must alternate user/assistant/user/assistant/...') }}
    {%- endif -%}

    {%- if (message['role'] == 'system') -%}
        {{ raise_exception('The system prompt needs to be at the beginning of the conversation.') }}
    {%- endif -%}

    {%- if loop.index0 == 0 -%} {# Comment #}
        {{- bos_token + system_message -}}
    {%- endif -%}

    {{- '<|im_start|>' + message['role'] + '\n' + message['content'].strip() + '\n<|im_end|>\n' -}}
{%- endfor -%}
{%- if add_generation_prompt -%}
    {{- '<|im_start|>assistant\n' -}}
{%- endif %}